<%= form_for @subject, :url => {:action => "update", :id => @subject, :controller => "subjects"}, method: :put do |f| %>
      <%#= form_for @subject, url: '/subjects/4', method: :put do |f| %>
      <%#= form_for @subject, url: subject_update_path(@subject) do |f| %>
      <div class="row">
      <div class="col l10">
      	 <%= f.text_field :name, :value =>@subject.name, class:"name-field" %>
      	 <%= hidden_field_tag :subject_id, @subject.id %>
      </div>
      <div class="col l2">
      <%#= f.submit %>
      <a class="edit-subject"><i class="material-icons">mode_edit</i></a>
      <%#= link_to 'mode_edit',subject_path(subject,name: :name, :id => subject.id), method: :put, remote: true, class:"edit-subject material-icons" %>
      	<%= link_to 'delete', @subject, method: :delete, data: { confirm: 'Are you sure?' },  class:"delete material-icons" %>
      </div>
      </div>
<% end %>