<div class="row">
<div class="col-2 col l10 offset-l1">
	<h4 class="col l2">SUBJECTS</h4>
	<h4 class="col l2 offset-l7">New Subject</h4>
	<a class="add-subject btn-floating btn-large waves-effect waves-light light-blue darken-1"><i class="material-icons">add</i></a>
</div>
</div>
<div id="subject-display" class="row subject-display">
<div class="subject-text col l10 offset-l1">
<%= render "subjects/form" %>
</div>
</div>

<% @subjects.each do |subject| %>

<div class="row">
 <ul class="collapsible col l10 offset-l1" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
      <%= render partial: "subjects/form_edit", :locals => { :subject => subject } %>
      </div>
      <div class="collapsible-body">
          <div class="add-header"><div class="row"><a class="add-topics-button right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a></div>
          </div>
      <div id="add-topic" class="section add-topic">
          <%= render partial: "topics/form_create", :locals => { :subject => subject } %>
      </div>
      <% subject.topics.each do |topics| %>
       <%= render partial: "topics/form_update", :locals => { :topics => topics } %>
      <% end %>
      </div>
      </div>
    </li>
  </ul>
</div>
  <% end %>