<div class="container subjects">
   <div class="row subject-header">
      <div class="col s2 title">Subjects</div>
      <div class="col s2 offset-s7 right">New Subject 
        <a class="btn-floating btn-large waves-effect waves-light add-subject"><i class="material-icons">add</i></a>
  </div>
   </div>
	 <ul class="collapsible collapsible-without-border" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>English</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>EVS</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>Maths</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">chevron_right</i>Science</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
</div>