@import 'lib/variables';
.subjects{
	margin-top: 2.2rem;
    .subject-header{
    	margin: 0px;
    	font-family: Martel Sans;
	    padding: 0.3rem 1rem;
	    color: #888484;
	    font-weight: 300;
	    font-size: 1.25rem;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
	    .material-icons {
	    	color: #303030;
	    }
	    .title{
	    	margin-left: 2.5rem;
    		text-transform: uppercase;
		    margin-left: 2.5rem;
		    text-transform: uppercase;
		    height: 56px;
		    line-height: 56px;
	    }
	    .add-subject{
	    	background-color: $secondary_color;
	    	i {
	    		color: white;
	    		font-size: 3.3rem;
	    	}
	    }
    }
	.collapsible {
		.collapsible-header {
			font-family: Martel Sans;
		    padding: 1.2rem 1rem;
		    color: #888484;
		    font-weight: 300;
		    font-size: 2.25rem;
		    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
		    .material-icons {
		    	color: #303030;
		    }
		}
	}
}