  <ul id="dropdown1" class="dropdown-content">
	  <li><a href="#!">one</a></li>
	  <li><a href="#!">two</a></li>
	  <li class="divider"></li>
  </ul>
<nav>
  <div class="nav-wrapper grey lighten-5">
  <ul class="left" >
  	 <li><a href="#!" class="brand-logo">Logo</a></li>
  </ul> 
    <ul class="right navbar-links">
      <li><a href="#!">CURRICULUM</a></li>
      <li><a href="#!">LESSONS</a></li>
      <li><a href="#!">ACTIVITY</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">settings</i></a></li>
    </ul>
  </div>
</nav>